In [3]:
import pandas as pd

In [2]:
list=[1,2,3,4]
list

[1, 2, 3, 4]

In [5]:
df= pd.DataFrame(list)
df

   0
0  1
1  2
2  3
3  4

In [4]:
df= pd.DataFrame([list])
df

   0  1  2  3
0  1  2  3  4

In [2]:
d={'apple':[1,2,3],'or':[1,2,3],'orange':[4,5,6]}
d

{'apple': [1, 2, 3], 'or': [1, 2, 3], 'orange': [4, 5, 6]}

In [3]:
s=pd.Series({'apple':[1,2,3],'or':[1,2,3],'orange':[4,5,6]})
s

apple     [1, 2, 3]
or        [1, 2, 3]
orange    [4, 5, 6]
dtype: object

In [4]:
#data= pd.read_csv("path")
df= pd.DataFrame(data={
    'apple':[1,2,0],'orange':[4,5,7],'or':[4,5,6]
},index=['aba','bob','con'])
df

     apple  orange  or
aba      1       4   4
bob      2       5   5
con      0       7   6

# columns and rows difference

In [5]:
#columns
df['apple']

aba    1
bob    2
con    0
Name: apple, dtype: int64

In [6]:
#rows or in this case the name ,,, always use loc when it comes to rows
df.loc['bob']

apple     2
orange    5
or        5
Name: bob, dtype: int64

In [7]:
#df.apple
df.loc['bob'].apple

2

# transpose and describe

In [19]:
df.describe().transpose()

        count      mean       std  min  25%  50%  75%  max
apple     3.0  1.000000  1.000000  0.0  0.5  1.0  1.5  2.0
orange    3.0  5.333333  1.527525  4.0  4.5  5.0  6.0  7.0
or        3.0  5.000000  1.000000  4.0  4.5  5.0  5.5  6.0
       apple    orange   or
count    3.0  3.000000  3.0
mean     1.0  5.333333  5.0
std      1.0  1.527525  1.0
min      0.0  4.000000  4.0
25%      0.5  4.500000  4.5
50%      1.0  5.000000  5.0
75%      1.5  6.000000  5.5
max      2.0  7.000000  6.0

In [ ]:
df.describe()

In [11]:
print(df.orange.mean())
print(df.orange.min())

5.333333333333333
4

In [9]:
df.describe().orange

count    3.000000
mean     5.333333
std      1.527525
min      4.000000
25%      4.500000
50%      5.000000
75%      6.000000
max      7.000000
Name: orange, dtype: float64

In [22]:
round(df.describe().orange.loc['mean'])

5.0

In [19]:
l1=['a','b','c']
l2=[1,2,3]
s1=pd.Series(l2,l1)    
s1

a    1
b    2
c    3
dtype: int64

In [28]:
df2=pd.DataFrame([l2,l2,[l1[0],l2[1],l1[2]]],columns=l1)
df2

   a  b  c
0  1  2  3
1  1  2  3
2  a  2  c

In [22]:
data=pd.read_csv("E:\A python\company data.csv",index_col=0)

In [25]:
data.tail(30)

,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
state,,,,,,,,,,,,,,,,,,,,
AL,32,510,404-9680,no,no,0,230.9,87,39.25,187.4,90,15.93,154.0,53,6.93,6.3,2,1.70,0,False
CO,68,408,338-9398,no,no,0,237.1,105,40.31,223.5,105,19.00,97.4,79,4.38,13.2,2,3.56,1,False
NH,64,408,394-2445,no,yes,27,182.1,91,30.96,169.7,98,14.42,164.7,86,7.41,10.6,5,2.86,2,False
NM,25,415,381-2709,no,no,0,119.3,87,20.28,211.5,101,17.98,268.9,86,12.10,10.5,4,2.84,3,False
OR,65,415,397-5060,no,no,0,116.8,87,19.86,178.9,93,15.21,182.4,150,8.21,14.1,2,3.81,1,False
LA,179,408,415-2393,no,no,0,219.2,92,37.26,149.4,125,12.70,244.7,104,11.01,6.1,5,1.65,0,False
NE,94,415,377-1765,no,no,0,252.6,104,42.94,169.0,125,14.37,170.9,106,7.69,11.1,7,3.00,2,False
MN,62,415,409-2111,no,no,0,147.1,91,25.01,190.4,107,16.18,195.2,115,8.78,12.2,3,3.29,0,False
MI,127,415,401-3170,no,no,0,202.1,103,34.36,229.4,86,19.50,195.2,113,8.78,11.5,3,3.11,2,False
AR,116,408,405-5681,no,no,0,173.5,93,29.50,194.1,76,16.50,208.0,112,9.36,16.2,10,4.37,3,False
KS,70,408,411-4582,no,no,0,232.1,122,39.46,292.3,112,24.85,201.2,112,9.05,0.0,0,0.00,3,False
WV,94,510,355-5009,yes,yes,23,197.1,125,33.51,214.5,136,18.23,282.2,103,12.70,9.5,5,2.57,4,False
AK,126,415,372-3750,no,no,0,58.2,94,9.89,138.7,118,11.79,136.8,91,6.16,11.9,1,3.21,5,True
NY,67,408,405-2888,no,yes,36,115.6,111,19.65,237.7,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False
NH,19,408,361-3337,no,no,0,186.1,98,31.64,254.3,57,21.62,214.0,127,9.63,14.6,7,3.94,2,False
VA,170,510,350-1639,yes,no,0,259.9,68,44.18,245.0,122,20.83,134.4,121,6.05,8.4,3,2.27,3,False
NM,73,415,333-3221,no,no,0,214.3,145,36.43,268.5,135,22.82,241.2,92,10.85,10.8,13,2.92,1,False
NY,106,408,422-1471,no,no,0,158.7,74,26.98,64.3,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False
AZ,93,415,399-7865,no,no,0,271.6,71,46.17,229.4,108,19.50,77.3,121,3.48,10.9,3,2.94,2,False
WY,164,510,373-4819,no,no,0,160.6,111,27.30,163.2,126,13.87,187.1,112,8.42,9.0,3,2.43,1,False
WA,51,408,338-6981,no,no,0,232.4,109,39.51,187.4,95,15.93,231.2,107,10.40,9.1,3,2.46,1,False
CO,107,415,418-4365,no,no,0,133.8,85,22.75,180.5,94,15.34,112.2,115,5.05,8.9,4,2.40,0,False
TX,130,415,359-5461,no,no,0,176.9,109,30.07,90.7,104,7.71,238.0,69,10.71,9.5,2,2.57,1,False
KY,80,408,375-3586,no,no,0,209.9,74,35.68,195.1,77,16.58,208.2,119,9.37,8.8,4,2.38,2,False
MT,94,415,407-8376,no,no,0,137.5,118,23.38,203.2,88,17.27,150.0,131,6.75,13.4,2,3.62,0,False
OK,118,408,408-6496,no,yes,23,289.5,52,49.22,166.6,111,14.16,119.1,88,5.36,9.5,4,2.57,1,False
MD,117,415,385-7688,no,yes,23,198.1,86,33.68,177.0,86,15.05,180.5,92,8.12,6.8,6,1.84,1,False
TN,78,415,332-6934,no,no,0,149.7,119,25.45,182.2,115,15.49,261.5,126,11.77,9.7,8,2.62,0,False
TX,208,510,378-3625,no,no,0,326.5,67,55.51,176.3,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True
ME,131,510,353-7292,yes,yes,26,292.9,101,49.79,199.7,97,16.97,255.3,127,11.49,13.8,7,3.73,4,True

In [17]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
account length,199.0,100.748744,39.380778,6.00,73.500,97.00,129.000,208.00
area code,199.0,433.065327,40.611497,408.00,408.000,415.00,415.000,510.00
number vmail messages,199.0,7.804020,13.743935,0.00,0.000,0.00,21.000,46.00
total day minutes,199.0,185.862814,53.027743,58.20,150.350,186.10,217.650,337.40
total day calls,199.0,100.633166,19.561638,47.00,89.000,101.00,115.000,151.00
total day charge,199.0,31.597337,9.014950,9.89,25.560,31.64,37.000,57.36
total eve minutes,199.0,195.367337,51.521649,31.20,163.350,195.00,223.600,351.60
total eve calls,199.0,98.809045,19.885117,46.00,85.000,98.00,113.000,164.00
total eve charge,199.0,16.606533,4.379042,2.65,13.885,16.58,19.005,29.89
total night minutes,199.0,196.994975,52.481158,57.50,162.100,195.20,237.750,326.40
total night calls,199.0,100.628141,20.731141,53.00,86.500,103.00,115.000,150.00
total night charge,199.0,8.864975,2.361691,2.59,7.295,8.78,10.700,14.69
total intl minutes,199.0,10.307035,2.679675,0.00,8.700,10.20,12.050,20.00
total intl calls,199.0,4.653266,2.535680,0.00,3.000,4.00,6.000,19.00
total intl charge,199.0,2.783668,0.723177,0.00,2.350,2.75,3.255,5.40
customer service calls,199.0,1.683417,1.327744,0.00,1.000,1.00,3.000,5.00

# datetime

In [18]:
import datetime

now=datetime.datetime.now()
print(now)
print(now.year)
print(now.time())
print(now.date())

2020-09-29 14:38:31.988649
2020
14:38:31.988649
2020-09-29